@import url('https://fonts.googleapis.com/css?family=Ultra');
@import url('https://fonts.googleapis.com/css?family=Rationale');

body {
  overflow: hidden;
}

.start-button {
  display: inline;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 0;
  bottom: 0;
  border-style: outset;
  border-color: #000;
  text-align: center;
  font-family: Sans-serif;
  font-weight: 900;
  border-radius: 100%;
  line-height: 700%;
  user-select: none;
  transform: translate(-50%, -50%);
}

.strict-button {
  display: inline;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 0;
  bottom: 0;
  border-style: outset;
  border-color: #000;
  text-align: center;
  font-family: Sans-serif;
  font-weight: 900;
  border-radius: 100%;
  line-height: 700%;
  user-select: none;
  transform: translate(-50%, -50%);
}

button:focus {
  outline: none;
}